{% extends 'main.html' %}

{% block head %}
<!--To render parent's stuff in the same block-->
{{ super() }}

<title>Assignment Submission Detail</title>
{% endblock %}

{% block body %}
{{ super() }}
    <div class="mx-auto" style="width: 800px;" >
    <h1>Assignment Submission of {{ submission.user.name }} </h1>
    <blockquote class="blockquote">
    <p class="mb-0">Submitted at: <em>{{ submission.submissionTime.strftime("%b %d %Y %r")  }}</em></p>
    </blockquote>
    <blockquote class="blockquote">
    <p class="mb-0">Grade:
        {% if submission.assignmentGrade is not none  %}
        <em>{{ submission.assignmentGrade }}</em>
        {% else %}
            <em>Not Graded Yet</em>
        {% endif %}
    </p>
    </blockquote>
    <h4>Your Assignment Text:</h4>
    <div class="card">
      <div class="card-body">
          {{ submission.comment }}
      </div>
    </div>
    <br>
    {% if submission.submissionFiles|length >= 1 %}
    <h4> Submission Files (if any) [Click to 💾]</h4>
    <div class="list-group">
    {% for file in submission.submissionFiles %}
        <a class="list-group-item list-group-item-action" href = {{ url_for('downloadSubmission' ,id=file.submissionFileId) }}>{{ file.fileName }}</a>
    </div>
    {% endfor %}
    {% else %}
            <h4> No Submission Files</h4>
    {% endif %}

    <br>
    {% if isTeacher %}
    <a class="btn btn-warning" href= {{ url_for('gradeAssignmentSubmission',id=submission.assignmentSubmissionId) }}>
            Grade Assignment
    </a>
    <br><br>
    {% endif %}
        <a class="btn btn-secondary" href={{url_for('assignmentSubmission' ,id=submission.assignmentId) }}>Back</a>
    </div>
{% endblock %}