{% extends 'main.html' %}

{% block head %}
<!--To render parent's stuff in the same block-->
{{ super() }}

<title>Assignments</title>
{% endblock %}

{% block body %}
{{ super() }}
<div class="container" style="margin-top: 3%">
    <a class="btn btn-secondary" href={{ url_for('coursesite' ,id=course_id) }}>Back</a>
    {% if isTeacher %}
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#assignmentModal">
        Create Assignment
    </button>
    {% endif %}
    <table class="table" style="margin-top: 3%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Marks</th>
            <th scope="col">Open</th>
            <th scope="col">Due</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for assignment in assignments %}
        <tr class="border">
            <th scope="row">{{assignment.assignmentName}}</th>
            <td>{{assignment.totalMarks}}</td>
            <td>{{assignment.uploadDateTime.strftime("%b %d %Y %r")}}</td>
            <td>{{assignment.assignmentDeadline.strftime("%b %d %Y %r")}}</td>
            <td>
                <a href={{ url_for('getAssignmentDetailById',id=assignment.assignmentId) }}>
                <i class="material-icons md-48" style="color:blue;">visibility</i>
                </a>
                {% if isTeacher %}
                <a href={{ url_for('deleteAssignment', id=assignment.assignmentId) }}>
                <i class="material-icons md-36" style="color:red;">delete</i>
                </a>
                <a href={{ url_for('updateAssignment', id=assignment.assignmentId) }}>
                <i class="material-icons md-36" style="color:green;">edit</i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

<div class="modal fade" id="assignmentModal" tabindex="-1" role="dialog"
     aria-labelledby="assignmentModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered model-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignmentModalTitle">Create Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if err_msg %}
            <div>
                <div class="alert alert-info" role="alert">
                    {{err_msg}}
                </div>
            </div>
            {% endif %}
            <form enctype=multipart/form-data method="post"
                  action="{{ url_for('createAssignment',course_id=course_id) }}">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="assignmentName" name="assignmentName"
                               placeholder="Title" value={{assignment_name}}>
                    </div>
                    <div class="form-group">
                        <input type="number" step="0.1" min="0" class="form-control" id="totalMarks"
                               name="totalMarks"
                               placeholder="Total Marks" value={{total_marks}}>
                    </div>
                    <div class="form-group">
                        <input type="text" id="datetimepicker" class="form-control"
                               name="assignmentDeadline"
                               placeholder="Due Date" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="file" name="files" id="files" multiple>
                    </div>
                    <div class="form-group">
                        <textarea type="input" class="form-control" id="assignmentDesc" name="assignmentDesc"
                                  placeholder="Description">{{assignment_desc}}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $.datetimepicker.setLocale('en');
    $('#datetimepicker').datetimepicker();

</script>
{% if show_modal %}
<script>
     $(document).ready(function(){
        $("#assignmentModal").modal('show');
    });

</script>
{% endif %}
{% endblock %}