{% extends 'main.html' %}

{% block head %}
<!--To render parent's stuff in the same block-->
{{ super() }}

<title>Assignment</title>
{% endblock %}

{% block body %}
{{ super() }}

<div class="container" style="margin-top: 5%">
    <h1>Assignment: {{ assignment.assignmentName }}</h1>
    <div>
        <p><b>Assignment Description:</b> {{ assignment.assignmentDesc }}</p>
        <br>
        <p><b>Assignment Deadline:</b> {{ assignment.assignmentDeadline.strftime('%d-%b-%Y : %I:%M:%S %p') }}</p>
        <br>
        <p><b>Total Marks:</b> {{ assignment.totalMarks }}</p>
        <br>
        <p><b>Assignment Uploaded Date:</b> {{ assignment.uploadDateTime.strftime('%d-%b-%Y : %I:%M:%S %p') }}</p>
        <br>
        <p><b>Assignment Files (if any) :</b></p>
        {%  for file in assignment.assignmentFiles %}
                <a href = {{ url_for('downloadAssignment' ,id=file.assignmentFileId) }}>{{ file.fileName }}</a>
                <br>
        {% endfor %}
        <br>
        {% if not isTeacher %}
        <a class="btn btn-primary" href={{ url_for('submitAssignment',id=assignment.assignmentId) }}>
            Submit Assignment
            <i class="material-icons md-48">note_add</i>
        </a>
        {% endif %}
        <a class="btn btn-info" href= {{ url_for('assignmentSubmission',id=assignment.assignmentId) }}>
            View Submissions so far
            <i class="material-icons md-48">visibility</i>
        </a>
    </div>
</div>

{% endblock %}