{% extends 'main.html' %}

{% block head %}
<!--To render parent's stuff in the same block-->
{{ super() }}

<title>Home</title>
{% endblock %}

{% block body %}
{{ super() }}
<div class="container" style="margin-top: 5%">
    {% if isTeacher %}
    <a class="btn btn-secondary" href={{ url_for('createAssignment',course_id=id) }}>Create Assignment</a>
    {% endif %}
    <!--    <button type="button" class="btn btn-outline-secondary" >-->
    <!--    Create New Assignment-->
    <!--</button>-->
    <table class="table" style="margin-top: 3%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Marks</th>
            <th scope="col">Open</th>
            <th scope="col">Due</th>
            <th scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for assignment in assignments %}
        <tr>
            <th scope="row">{{assignment.assignmentName}}</th>
            <td>{{assignment.totalMarks}}</td>
            <td>{{assignment.uploadDateTime.strftime("%b %d %Y %r")}}</td>
            <td>{{assignment.assignmentDeadline.strftime("%b %d %Y %r")}}</td>
            <td><a href={{ url_for('getAssignmentDetailById',id=assignment.assignmentId) }}
                           >
                <i class="material-icons md-48" style="color:blue;">visibility</i>
                </a>
                {% if isTeacher %}
                <a href={{ url_for('deleteAssignment', id=assignment.assignmentId) }}>
                    <i class="material-icons md-36" style="color:red;">delete</i>
                </a>
                <a href={{ url_for('updateAssignment', id=assignment.assignmentId) }}>
                    <i class="material-icons md-36" style="color:green;">edit</i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
    <br>
    <a class="btn btn-secondary" href={{ url_for('coursesite' ,id=id) }}> Back</a>

    <div class="row">
    </div>
</div>
<script>
    $.datetimepicker.setLocale('en');
    $('#datetimepicker').datetimepicker();






</script>
{% endblock %}