{% extends 'main.html' %}

{% block head %}
<!--To render parent's stuff in the same block-->
{{ super() }}

<title>Course Site</title>
{% endblock %}

{% block body %}
{{ super() }}
<div class="container" style="margin-top: 5%">
    <div class="row row-cols-3">
        <div class="col">
            <div class="card text-center" style="cursor: pointer">
                <a href = {{ url_for('getAssignmentsByCourse' ,id=id) }}>
                <img src="../static/img/default_homework.jpg" class="card-img-top" alt="..."
                     height="200">
                <div class="card-body">
                    <h5 class="card-title">{{ "Assignments" }}</h5>
                </div>
<!--                <a href = {{ url_for('getAssignmentsByCourse' ,id=id) }}>Get Assignments</a>-->
            </a>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="cursor: pointer">
                <a href = {{ url_for('getResourcesByCourse' ,id=id) }}>
                <img src="../static/img/default_resources.jpg" class="card-img-top" alt="..."
                     height="200">
                <div class="card-body">
                    <h5 class="card-title">{{ "Resources" }}</h5>
                </div>
                </a>
{#                <a href = {{ url_for('getResourcesByCourse' ,id=id) }}>Get Resources</a>#}
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="cursor: pointer">
                <img src="../static/img/default_recordings.jpg" class="card-img-top" alt="..."
                     height="200">
                <div class="card-body">
                    <h5 class="card-title">{{ "Lecture Recordings" }}</h5>
                </div>
<!--                <a href = {{ url_for('getAssignmentsByCourse' ,id=1) }}>Get Assignments</a>-->
            </div>
        </div>

    </div>
</div>

{% endblock %}