{% extends 'main.html' %}

{% block head %}
<!--To render parent's stuff in the same block-->
{{ super() }}

<title>Home</title>
{% endblock %}

{% block body %}
{{ super() }}

<div class="container" style="margin-top: 5%">
<!--    <div class="row row-cols-2" style = "margin-left: 0.5%">-->
<!--        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search Course" aria-label="Search">-->
<!--    </div>-->
    <div class="jumbotron">
      <h1 class="display-4">LMS with Video Conferencing</h1>
      <p class="lead">An initiative of HEC</p>
    </div>
    <div class="row row-cols-3" style = "margin-top: 3%">
        {% for c in courses %}
        <div class="col">
            <div class="card text-center" style="cursor: pointer">
                <a href={{ url_for('coursesite' ,id=c.courseId) }}>
                <img src="../static/img/default_course_cover.jpg" class="card-img-top" alt="..."
                     height="200">
                <div class="card-body">
                    <h5 class="card-title">{{ c.courseName }}</h5>
                    <p class="card-text">{{ c.courseDesc }}</p>
                    <p class="card-text">{{ c.courseSemester }}: {{ c.courseYear }}</p>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}