{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<div id="mySidebar" class="sidebar bg-dark">
    <div class="border-bottom border-white" style="padding-bottom: 30px;">
        <h5 id="welcome-txt" style="margin-left:30px; color: #d1d1d1;"></h5>
    </div>
    <div>
        <br>
        <a class="row" href={{ url_for('index') }}>Home</a>
        <a class="row" href="#">Tools</a>
        <a class="row" href="{{ url_for('logout') }}">Sign Out</a>
        <!--a href="#">Contact</a-->
    </div>
</div>

<div id="topbar">
    <nav class="pos-f-t navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" style="outline:none;" onclick="toggleNav()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered model-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="confirmationModalBody" class="modal-body">
                <div class="form-group">
                    <p>This action cannot be undone. Are you sure you want to proceed?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmationModalConfirmBtn" type="submit" class="btn btn-danger">Confirm</button>
                <button id="confirmationModalLoadingBtn" class='btn btn-danger'
                        type='button' style="display:none" disabled>
                    <span class='spinner-border spinner-border-sm' role='status'></span>
                        Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  let sidebar = document.getElementById("mySidebar");
  let body = document.getElementsByTagName("body")[0];
  let width = "300px";

  $(document).ready(function(){
    console.log('loaded');
    let name = localStorage.getItem('user_name');
    if(name !== null && name !== undefined)
        $("#welcome-txt").html('Welcome, ' + name);
  })

  function toggleNav() {
    sidebar.style.width < width ? openNav() : closeNav();
  }

  function openNav() {
    sidebar.style.width = width;
    body.style.marginLeft = width;
  }

  /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
  function closeNav() {
    sidebar.style.width = "0";
    body.style.marginLeft = "0";
  }
</script>

<script>
    var targetUrl = null;

    function showConfirmationModal(url){
        targetUrl = url;
        $('#confirmationModal').modal('show')
    }

    $('#confirmationModalConfirmBtn').click(async function confirmAction() {
        console.log(targetUrl);

        $(this).hide();
        $('#confirmationModalLoadingBtn').show();

        await fetch(`${window.origin}/${targetUrl}`, {
                method: 'GET',
                headers: {
                  'content-type': 'application/json',
                },
                credentials: "include",
            })
            .then(function (promise) {
                promise.json().then(function(json){
                    console.log(json)
                    if(json['success'])
                        location.reload()
                });
            })
            .catch(function (error) {

            });

            $(this).show();
            $('#confirmationModalLoadingBtn').hide();
    })
</script>

{% endblock %}